{% extends 'main_parent.html' %}
{% load humanize %}
{% load render_partial %}
{% block title %}{{brand.title}} |{% endblock title %}
{% block content %}
<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'main:home' %}">خانه</a>
                            /
                        </li>
                        
                        <li class="breadcrumb-item active" aria-current="page">برند {{brand.title}}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9 col-xl-8">
                <div class="block post post--layout--full">
                    <div class="post__header post-header post-header--layout--full">
                        
                        <h1 class="post-header__title">برند {{brand.title}}</h1>
                    </div>
                    <div class="post__featured">
                        <a href="{{media_url}}{{brand.image}}" target="_blank"><img style='width: 50%; height: 50%;' src="{{media_url}}{{brand.image}}" alt="{{brand.title}}"></a>
                    </div>
                    <div class="post__content typography typography--expanded">
                        {% autoescape off %}
                        {{brand.description}}
                        {% endautoescape %}
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}