{% extends 'main_parent.html' %}
{% block title %}تغییر رمز عبور |{% endblock title %}
{% block content %}
		<!-- site__body -->
		<div class="site__body">
			<div class="page-header">
				<div class="page-header__container container"> 
					<div class="page-header__breadcrumb">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'main:home' %}">خانه</a>
									/
								</li>
								<li class="breadcrumb-item">
									<a href="">حساب کاربری</a>
									/
								</li>
								<li class="active" aria-current="page"> تغییر رمز حساب کاربری</li>
							</ol>
						</nav>
					</div>
					<div class="page-header__title d-flex justify-content-center">
						<h1>تغییر رمز حساب کاربری جدید</h1></div>
				</div>
			</div>
			<div class="block">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-6 d-flex mt-4 mt-md-0">
							<div class="card flex-grow-1 mb-0">
								<div class="card-body">
									<h3 class="card-title">تغییر رمز</h3>
                                    {% if form.errors %}
                                    <div class='form-group jumbotron alert-danger p-0 '>
                                        <ul>
                                            {% for error,messages in form.errors.items %}
                                                {% for message in messages %}
                                                    <li>{{message}}</li>
                                                {% endfor %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
									<form action="" method="post">
                                        {% csrf_token %}
                                        {{form.as_p}}
										<button type="submit" class="btn btn-primary mt-4">تغییر رمز</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- site__body / end -->
{% endblock content %}