{% extends 'user_panel_template.html' %}
{% load humanize %}
{% load render_partial %}
{% block title %}تغییر رمز عبور |{% endblock title %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h5>تغییر رمز عبور</h5></div>
    <div class="card-divider"></div>
    <div class="card-body">
        {% if form.errors %}
            <div class='form-group jumbotron alert-danger p-0 '>
                <ul>
                    {% for error,messages in form.errors.items %}
                        {% for message in messages %}
                            <li>{{message}}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="row no-gutters">
            <div class="col-12 col-lg-7 col-xl-6">
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary mt-4">تغییر رمز</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}