{% extends 'main_parent.html' %}
{% block title %}ورود |{% endblock title %}
{% block content %}
<!-- site__body -->
<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'main:home' %}">خانه</a>
                            /
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">حساب کاربری</a>
                            /
                        </li>
                        <li class="active" aria-current="page">ورود به حساب کاربری</li>
                    </ol>
                </nav>
            </div>
            <div class="page-header__title d-flex justify-content-center">
                <h1>ورود به حساب کاربری</h1>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="card flex-grow-1 mb-md-0">
                        <div class="card-body">
                            <h3 class="card-title">ورود</h3>
                            {% if form.errors %}
                                    <div class='form-group jumbotron alert-danger p-0 '>
                                        <ul>
                                            {% for error,messages in form.errors.items %}
                                                {% for message in messages %}
                                                    <li>{{message}}</li>
                                                {% endfor %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                            {% endif %}
                            <form action="" method="post">
                                {% csrf_token %}
                                {{form.as_p}}
                                <small class="form-text text-muted"><a href="{% url 'accounts:remember_password' %}">فراموشی رمز عبور</a></small>
                                <button type="submit" class="btn btn-primary mt-4" style="
                                margin-bottom: 0.5rem;
                            ">ورود</button>
                                <small class="form-text text-muted"><a href="{% url 'accounts:register' %}">هنوز ثبت نام صورت نگرفته.</a></small>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- site__body / end -->
{% comment %} <div class="form-group">
                                    <div class="form-check"><span class="form-check-input input-check"><span class="input-check__body"><input class="input-check__input" type="checkbox" id="login-remember"> <span class="input-check__box"></span>
                                        <svg class="input-check__icon" width="9px" height="7px">
                                            <use xlink:href="images/sprite.svg#check-9x7"></use>
                                        </svg>
                                        </span>
                                        </span>
                                        <label class="form-check-label" for="login-remember">به خاطر سپاری</label>
                                    </div>
                                </div> {% endcomment %}
{% endblock content %}