{% extends 'main_parent.html' %}
{% block content %}
		<!-- site__body -->
		<div class="site__body">
			<div class="page-header">
				<div class="page-header__container container">

				</div>
			</div>
			<div class="block-empty__body">
				<div class="block-empty__message">
					<h1>کاربر گرامی به سایت ما خوش آمدید.</h1>
				</div>
				<div class="block-empty__actions"><a class="btn btn-primary btn-sm" href="{% url 'main:home' %}">ادامه</a></div>
			</div>
		</div>
		<!-- site__body / end -->
{% endblock content %}