{% load static %}

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} پنل کاربری</title>
    <link rel="icon" type="image/png" href="{{media_url}}images/favicon.png">
    <!-- css -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-4.5.3/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel-2.3.4/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- js -->
    <script src="{% static 'vendor/jquery-3.3.1/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-4.5.3/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/owl-carousel-2.3.4/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/number.js' %}"></script>
    <script src="{% static 'js/myscript.js' %}"></script>
    <script src="https://kit.fontawesome.com/eb5100ca45.js" crossorigin="anonymous"></script>
    <!-- font - fontawesome -->
    <link rel="stylesheet" href="{% static 'vendor/fontawesome-5.6.3/css/all.min.css' %}">
</head>
<body>
    <div class="site">
      {% include 'partials/header.html' %}
      {% include 'partials/message.html' %}
        <div class="site__body">
            <div class="page-header">
                <div class="page-header__container container">
                    <div class="page-header__title">
                        <h1>حساب کاربری</h1>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-3 d-flex">
                            <div class="account-nav flex-grow-1">
                                <h4 class="account-nav__title">ناوبری</h4>
                                <ul>
                                    <li class="account-nav__item account-nav__item--active"><a href="{% url 'accounts:user_panel' %}">داشبورد</a></li>
                                    <li class="account-nav__item"><a href="{% url 'accounts:update_profile' %}">ویرایش پروفایل</a></li>
                                    <li class="account-nav__item"><a href="{% url 'accounts:show_user_payments' %}">سابقه خرید</a></li>
                                    <li class="account-nav__item"><a href="{% url 'accounts:change_password_user_panel' %}">تغییر رمز عبور</a></li>
                                    <li class="account-nav__item"><a href="{% url 'accounts:logout' %}">خروج</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                            {% block content %}{% endblock content %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
      {% include 'partials/footer.html' %}
    </div>
{% block script %}
{% endblock script %}
</body>
</html> 